<li>
	{{mountain_name}}

	<button class="change-shredded btn btn-secondary btn-sm" data-id="{{id}}" data-newshredded="{{shredded}}">
		{{#if shredded}}Bucket List{{else}}Shredded It{{/if}}
	</button>

	<button class="delete-todo btn btn-secondary btn-sm" data-id="{{this.id}}">Remove</button>
</li>
